In [1]:
# pip install pandas pyarrow

In [2]:
import pandas as pd
import os
from glob import glob

pd.set_option('display.max_columns',100) # pandas 내 모든 칼럼 표시
pd.set_option('display.max_rows', None) # pandas 내 모든 행 표시
pd.set_option('display.max_seq_items', None) # 출력 옵션 설정
pd.set_option('display.max_colwidth', None) # pandas 최대 열 너비 늘리기기

In [3]:
# # 분석할 폴더 경로 지정 (예: ./final_project/hackle 또는 ./final_project/votes)
# folder_path = './data/hackle'  # 또는 './final_project/votes'

# # 모든 parquet 파일 경로 수집
# parquet_files = glob(os.path.join(folder_path, '*.parquet'))

# # 파일 정보 출력
# for file_path in parquet_files:
#     file_name = os.path.basename(file_path)
#     print(f"\n=== {file_name} ===")
#     try:
#         df = pd.read_parquet(file_path)
#         print(f"컬럼 수: {len(df.columns)}")
#         print(f"행 수: {len(df)}")
#         print("컬럼 목록:", df.columns.tolist())
#         print(df.head(3))  # 상위 3개 행 미리보기
#     except Exception as e:
#         print(f"파일 읽기 실패: {e}")

---
---
# 1. hackle

In [4]:
device_properties_df = pd.read_parquet('./data/hackle/device_properties.parquet')
hackle_events_df = pd.read_parquet('./data/hackle/hackle_events.parquet')
hackle_properties_df = pd.read_parquet('./data/hackle/hackle_properties.parquet')
user_properties_df = pd.read_parquet('./data/hackle/user_properties.parquet')

KeyboardInterrupt:

---
---
## 1.1 device_properties

In [ ]:
device_properties_df.head() # 252,380 행, 4 열

   id                             device_id device_model device_vendor
0   1  000007C9-E103-4EB5-9777-A9084D4952DF   iPhone14,7         Apple
1   2  00002245-458F-4CDD-8533-B448CD43DBD2   iPhone14,7         Apple
2   3  00012620-313A-4502-9F8D-8DAB7443215B   iPhone14,5         Apple
3   4  000137bc-80de-4bb5-b61d-df7f217a4501     SM-F711N       samsung
4   5  000227D6-B782-4367-91C4-486B76DF9E37   iPhone12,3         Apple

In [ ]:
device_properties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252380 entries, 0 to 252379
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             252380 non-null  int64
 1   device_id      252380 non-null  object
 2   device_model   252380 non-null  object
 3   device_vendor  252380 non-null  object
dtypes: int64(1), object(3)
memory usage: 7.7+ MB

In [ ]:
device_properties_df['device_vendor'].value_counts().head()

device_vendor
Apple      174444
samsung     75887
LGE          1578
Xiaomi        284
OnePlus        49
Name: count, dtype: int64

In [ ]:
device_properties_df['device_model'].value_counts().head()

device_model
iPhone14,5    27656
iPhone13,1    18276
iPhone14,7    17891
iPhone14,4    16746
iPhone15,2    14097
Name: count, dtype: int64

In [ ]:
%xdel device_properties_df

---
---
## 1.2 hackle_events

In [ ]:
hackle_events_df.head() # 11,441,319 행, 11 열

,event_id,event_datetime,event_key,session_id,id,item_name,page_name,friend_count,votes_count,heart_balance,question_id
0,00000533-3f1c-4b3b-81f1-0c8f35754b4e,2023-07-18 19:40:17,$session_start,4OzYh3seq3VKytpSn5pvQkZNQii1,00000533-3f1c-4b3b-81f1-0c8f35754b4e,,,NaN,NaN,NaN,NaN
1,00000716-27e9-4e72-a602-d0ce61784b06,2023-07-18 21:07:24,click_question_open,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,00000716-27e9-4e72-a602-d0ce61784b06,,,64.0,436.0,4830.0,NaN
2,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,2023-08-06 20:18:03,click_bottom_navigation_profile,6bcea65d-9f40-46fc-888c-700fe707483f,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,,,26.0,174.0,4729.0,NaN
3,00000981-5e2a-4111-993e-4f1891ad9a53,2023-08-05 01:46:10,view_shop,XVYNT6zfhFWqIg9omwg2AHDjTLx2,00000981-5e2a-4111-993e-4f1891ad9a53,,,61.0,44.0,142.0,NaN
4,00000a7a-ba72-4332-b4a9-7910670aaeb2,2023-07-24 15:03:37,click_bottom_navigation_lab,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,00000a7a-ba72-4332-b4a9-7910670aaeb2,,,119.0,545.0,3287.0,NaN

In [ ]:
hackle_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11441319 entries, 0 to 11441318
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   event_id        object
 1   event_datetime  datetime64[ms]
 2   event_key       object
 3   session_id      object
 4   id              object
 5   item_name       object
 6   page_name       object
 7   friend_count    float64
 8   votes_count     float64
 9   heart_balance   float64
 10  question_id     float64
dtypes: datetime64[ms](1), float64(4), object(6)
memory usage: 960.2+ MB

In [ ]:
hackle_events_df.isna().sum()
# friend_count : 친구 수
# votes_count : 받은 투표 수
# heart_balance : 잔여 하트
# question_id : 고유 질문 ID

event_id                 0
event_datetime           0
event_key                0
session_id               0
id                       0
item_name                0
page_name                0
friend_count        752556
votes_count         754554
heart_balance       728643
question_id       10991835
dtype: int64

In [ ]:
hackle_events_df.duplicated().sum()

0

In [ ]:
hackle_events_df['event_id'].nunique() # nuniuque() 가 11,441,319개 = 모두가 다른 event_key를 가지고 있다.

11441319

In [ ]:
hackle_events_df['session_id'].nunique()

253616

In [ ]:
(hackle_events_df['event_id'] != hackle_events_df['id']).any() # event_id와 id는 모두 같다.

False

In [ ]:
hackle_events_df['item_name'].value_counts()

item_name
           11428280
무료충전소          7617
777 하트         3258
1000 하트        1112
200 하트         1001
4000 하트          51
Name: count, dtype: int64

In [ ]:
hackle_events_df['page_name'].value_counts()

page_name
           10652540
home         518348
notice       229358
profile       14627
학년선택          10714
반선택            8592
학교선택           1904
번호인증           1246
아이디입력          1072
성별선택           1057
프사설정           1020
invite          816
이름입력             25
Name: count, dtype: int64

In [ ]:
%xdel hackle_events_df

---
---
## 1.3 hackle_properties

In [ ]:
hackle_properties_df.head()

,id,session_id,user_id,language,osname,osversion,versionname,device_id
0,1,4OzYh3seq3VKytpSn5pvQkZNQii1,,ko-KR,iOS,16.0,2.0.0,590E7C79-CBA0-44D8-8BE3-3C9BFABBBC74
1,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279
2,3,6bcea65d-9f40-46fc-888c-700fe707483f,1545130,ko,Android,13,2.0.5,6bcea65d-9f40-46fc-888c-700fe707483f
3,4,XVYNT6zfhFWqIg9omwg2AHDjTLx2,1224793,ko,Android,13,2.0.5,a05c1595-3e05-434b-8684-218b528bd725
4,5,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,1329450,ko-US,iOS,16.5.1,2.0.5,EAC6C0B3-7CE8-40EA-8A91-9977C0BA5EF3

In [ ]:
hackle_properties_df.isna().sum()

id             0
session_id     0
user_id        0
language       0
osname         0
osversion      0
versionname    0
device_id      0
dtype: int64

In [ ]:
hackle_properties_df['user_id'].value_counts().head()

user_id
           82255
1578652       17
1459833       13
1571506       13
1239584       12
Name: count, dtype: int64

In [ ]:
hackle_properties_df['language'].value_counts()

language
ko-KR         340900
ko            164682
en-KR           9658
ko-US           4931
en              1122
en-GB            513
en-US            502
ko-JP            465
ko-CA            330
ja-KR            306
ko-GP            267
ko-GH            119
ko-CN            110
ko-GU            108
ko-GG             88
ru-KR             81
ko-GB             74
ja                60
ko-AU             56
zh-Hans-KR        54
en-AU             50
ko-GM             44
ko-GY             41
ja-JP             41
ru                37
ko-DE             36
en-CA             33
ko-VN             32
ko-PH             26
zh                26
ko-GA             22
ko-RU             22
ko-FR             22
zh-Hans-CN        21
fr-KR             21
ko-GT             15
en-JP             14
ko-GD             14
en-NZ             13
ko-NZ             12
ko-ES             12
ko-SG             12
de-KR             11
es-KR             11
ko-AE             11
ko-MY             10
vi-KR             10
ko-ID             10
ko-NL              9
vi                 9
ko-KH              8
ko-TW              7
fr                 6
ko-LR              6
ko-IT              6
ko-TH              6
ru-RU              6
en-GP              5
ko-AL              5
ko-IN              5
ko-ZA              5
es-419             5
ko-DK              5
ko-SS              5
ko-LA              4
ko-NR              4
en-IN              4
ko-CF              4
ko-HK              4
en-GH              4
zh-Hans-US         4
en-SG              4
ko-KZ              4
ko-MM              4
ko-LV              4
ko-SR              4
ko-BD              4
es                 4
la-KR              4
ko-UM              4
en-AR              3
ko-SM              3
ko-UY              3
en-TN              3
ko-DG              3
ko-DM              3
ko-AR              3
ko-BB              3
en-RU              3
ko-KE              3
en-ZA              3
ko-FK              3
en-AM              3
ko-HU              3
ja-US              3
ko-CO              3
fr-FR              2
ko-GW              2
ko-MN              2
en-VN              2
ko-LB              2
ko-UZ              2
ko-SE              2
ko-MC              2
ko-NU              2
ko-ZM              2
ko-MS              2
en-CN              2
es-JP              2
ko-AM              2
zh-Hant-KR         2
ko-SA              2
ko-BR              2
ko-MR              2
ko-BQ              2
ko-GL              2
ko-NA              2
ru-KZ              2
ru-UZ              2
ko-NF              2
ko-GS              2
ko-CK              2
ko-MW              2
ko-TL              2
ko-FI              2
en-AE              2
zh-Hant-TW         1
ko-NI              1
en-IQ              1
it                 1
ar-KR              1
en-MY              1
ar-SA              1
de-GB              1
es-US              1
km-KR              1
ko-PF              1
en-AT              1
ko-DZ              1
en-AQ              1
de-DE              1
en-ES              1
en-FR              1
ko-VC              1
ko-DO              1
ko-CI              1
en-MW              1
en-AS              1
en-NG              1
en-PH              1
ar-PS              1
Name: count, dtype: int64

In [ ]:
%xdel hackle_properties_df

---
---
## 1.4 user_properties

In [ ]:
user_properties_df.head()

   user_id  class gender  grade  school_id
0  1000000      1      M      1       1885
1  1000009     10      F      2       3869
2  1000012     10      F      1       5091
3  1000013      8      F      2       1743
4  1000015      2      F      3       5078

In [ ]:
user_properties_df['class'].nunique()

20

In [ ]:
user_properties_df['grade'].nunique()

3

In [ ]:
%xdel user_properties_df

---
---
---
# 2. votes

---
---
## 2.1 accounts_attendance

In [ ]:
accounts_attendance_df = pd.read_parquet('./data/votes/accounts_attendance.parquet')

In [ ]:
accounts_attendance_df.head() # 349,637 행, 3열

,id,attendance_date_list,user_id
0,1,"[""2023-05-27"", ""2023-05-28"", ""2023-05-29"", ""2023-05-30"", ""2023-06-03"", ""2023-06-06"", ""2023-06-12"", ""2023-06-15"", ""2023-07-10"", ""2023-07-31"", ""2023-09-12"", ""2023-09-14"", ""2023-09-19""]",1446852
1,2,"[""2023-05-27"", ""2023-05-29"", ""2023-05-30"", ""2023-06-02"", ""2023-06-03"", ""2023-06-05"", ""2023-06-07"", ""2023-06-08"", ""2023-06-10"", ""2023-06-11"", ""2023-06-15"", ""2023-06-16"", ""2023-06-17"", ""2023-06-18"", ""2023-06-19"", ""2023-06-20"", ""2023-06-21"", ""2023-06-22"", ""2023-06-23"", ""2023-06-27"", ""2023-07-01"", ""2023-07-04"", ""2023-07-08"", ""2023-07-10"", ""2023-07-15"", ""2023-07-26"", ""2023-08-01"", ""2023-08-02"", ""2023-08-03"", ""2023-08-05"", ""2023-08-14"", ""2023-08-21"", ""2023-08-22""]",1359398
2,3,"[""2023-05-27"", ""2023-05-29"", ""2023-05-30"", ""2023-05-31"", ""2023-06-01"", ""2023-06-02"", ""2023-06-06"", ""2023-06-07"", ""2023-06-14""]",1501542
3,4,"[""2023-05-27"", ""2023-05-28"", ""2023-05-29"", ""2023-05-30"", ""2023-05-31"", ""2023-06-01"", ""2023-06-02"", ""2023-06-03"", ""2023-06-04"", ""2023-06-05"", ""2023-06-06"", ""2023-06-07"", ""2023-06-08"", ""2023-06-09"", ""2023-06-10"", ""2023-06-11"", ""2023-06-12"", ""2023-06-13"", ""2023-06-15"", ""2023-06-17"", ""2023-06-18"", ""2023-06-19"", ""2023-06-21"", ""2023-06-22"", ""2023-06-23"", ""2023-06-24"", ""2023-06-25"", ""2023-06-26"", ""2023-06-27"", ""2023-06-30""]",1507767
4,5,"[""2023-05-27"", ""2023-05-28"", ""2023-05-29"", ""2023-05-30"", ""2023-05-31"", ""2023-06-01"", ""2023-06-02"", ""2023-06-03"", ""2023-06-04"", ""2023-06-05"", ""2023-06-06"", ""2023-06-07"", ""2023-06-08"", ""2023-06-09"", ""2023-06-10"", ""2023-06-11"", ""2023-06-12"", ""2023-06-13"", ""2023-06-14"", ""2023-06-15"", ""2023-06-16"", ""2023-06-17"", ""2023-06-18"", ""2023-06-19"", ""2023-06-20"", ""2023-06-21"", ""2023-06-22"", ""2023-06-23"", ""2023-06-24"", ""2023-06-25"", ""2023-06-28""]",1287453

In [ ]:
accounts_attendance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349637 entries, 0 to 349636
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    349637 non-null  int64
 1   attendance_date_list  349637 non-null  object
 2   user_id               349637 non-null  int64
dtypes: int64(2), object(1)
memory usage: 8.0+ MB

In [ ]:
%xdel accounts_attendance_df

---
---
## 2.2 accounts_blockrecord

In [ ]:
accounts_blockrecord_df = pd.read_parquet('./data/votes/accounts_blockrecord.parquet')

In [ ]:
accounts_blockrecord_df.head() # 19,482 행, 5열

   id              reason          created_at  block_user_id  user_id
0   1               그냥... 2023-05-04 23:01:53         867483   878476
1   2         친구 사이가 어색해짐 2023-05-05 01:17:08         867190   867564
2   3  나랑 관련 없는 질문을 자꾸 보냄 2023-05-05 01:50:55         875110   875261
3   6               그냥... 2023-05-05 05:21:52         883696   883511
4   7               그냥... 2023-05-05 06:40:34         871349   870177

In [ ]:
accounts_blockrecord_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19482 non-null  int64
 1   reason         19482 non-null  object
 2   created_at     19482 non-null  datetime64[ns]
 3   block_user_id  19482 non-null  int64
 4   user_id        19482 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 761.1+ KB

In [ ]:
accounts_blockrecord_df['reason'].unique()

array(['그냥...', '친구 사이가 어색해짐', '나랑 관련 없는 질문을 자꾸 보냄', '기타', '모르는 사람임',
       '너무 많은 양의 질문을 보냄', '사칭 계정'], dtype=object)

In [ ]:
accounts_blockrecord_df['user_id'].isna().sum()
# nunique() = 12,552개, duplicated().sum() = 6,930개

0

In [ ]:
accounts_blockrecord_df['block_user_id'].isna().sum()
# nunique() = 16,240개, duplicated().sum() = 3,242개

0

In [ ]:
# user_id 기준으로 block 시도 횟수 (특정 유저의 과도한 차단 로그 확인)
accounts_blockrecord_df['user_id'].value_counts().head()

user_id
1526194    171
1415197    163
1519819     70
1542675     66
986459      60
Name: count, dtype: int64

In [ ]:
# user_id와 block_user_id 쌍으로 중복된 행 찾기
duplicate_rows = accounts_blockrecord_df[
    accounts_blockrecord_df.duplicated(subset=['user_id', 'block_user_id'], keep=False)
]

# 결과 출력
print(f"중복된 쌍 개수: {len(duplicate_rows)}")
duplicate_rows.head()

중복된 쌍 개수: 1525

    id reason          created_at  block_user_id  user_id
8   12     기타 2023-05-05 13:04:31         885794   879662
9   13     기타 2023-05-05 13:04:42         885794   879662
10  14  그냥... 2023-05-05 13:04:52         885794   879662
11  15     기타 2023-05-05 13:04:56         885794   879662
12  16     기타 2023-05-05 13:05:01         885794   879662

In [ ]:
# 한 유저가 같은 대상을 몇 번이나 차단했는지
duplicate_rows['user_id'].value_counts()
# nunique() = 15개

user_id
889732     20
909818     17
1043398    16
896862     13
1281471    12
918735     11
1124205    11
1056156    11
925508     10
857420      9
1253255     8
914610      8
952203      8
901962      8
883198      8
1313373     8
971524      8
978390      7
897037      7
884464      7
1253809     7
874687      7
941582      7
1079487     7
888946      7
1054079     7
1040510     6
1041875     6
948405      6
919367      6
917992      6
965512      6
924797      6
959994      6
894503      6
902062      6
948427      6
1330926     6
945202      6
1011819     6
1027816     6
889161      6
1235125     6
1120295     6
911470      5
1221758     5
901042      5
1157671     5
930190      5
907139      5
891998      5
895604      5
951434      5
1139688     5
937187      5
1235635     5
936692      5
879662      5
983596      5
1028150     5
937477      5
910517      5
985158      5
945114      4
1261005     4
1368252     4
915549      4
955599      4
894082      4
1070475     4
994450      4
1261656     4
1063594     4
1286411     4
1378893     4
897950      4
1065147     4
1130134     4
955098      4
1279312     4
923011      4
1058368     4
930445      4
967723      4
864437      4
859334      4
1003644     4
1214159     4
957625      4
1229153     4
940698      4
1264147     4
1024454     4
895337      4
898283      4
910670      4
875951      4
893768      4
883369      4
909191      4
911572      4
897953      4
1264907     4
901327      4
926156      4
997807      3
923118      3
904071      3
1028644     3
1007362     3
889336      3
905483      3
897345      3
985472      3
877553      3
1043074     3
1064434     3
955891      3
1255526     3
1119093     3
928352      3
935318      3
901995      3
1060072     3
1260366     3
923870      3
852455      3
899732      3
926487      3
924664      3
1241061     3
915657      3
1072966     3
872902      3
1165513     3
1072478     3
1579568     3
1055357     3
1308761     3
1147833     3
875178      3
921896      3
983387      3
1149899     3
1285353     3
898071      3
1084996     3
1284550     3
1103991     3
1272243     3
1013938     3
1101889     3
1062283     3
1549175     3
1127443     3
1160177     3
1303314     3
1343652     3
855858      3
911301      3
1189309     3
1235549     3
984387      3
901874      3
974391      3
968819      3
857995      3
1371127     3
915654      3
1296323     3
951571      3
1018227     3
954793      3
949005      3
966848      3
847011      3
897169      3
917454      3
895701      3
992863      3
848687      3
977581      3
1278328     3
1400032     3
1287910     3
1370923     3
986961      3
1129746     3
888496      3
933315      3
1477621     3
988328      3
931054      3
1408339     3
1472338     3
906179      3
953790      3
965949      3
1161730     3
911282      3
941994      3
1309848     3
1354477     2
1284958     2
1233503     2
1472760     2
1319306     2
1304409     2
1128808     2
1238515     2
1106108     2
1345513     2
1013781     2
1569648     2
1233684     2
1007432     2
1251540     2
1274410     2
1267323     2
1179128     2
1233932     2
986583      2
1211340     2
1367079     2
1336199     2
1389602     2
1387799     2
923998      2
1572325     2
1342340     2
1307447     2
1228077     2
1416828     2
1069426     2
1343300     2
1036319     2
1317178     2
1478154     2
1313787     2
1343825     2
961900      2
1201275     2
1210668     2
859400      2
1365572     2
1211445     2
1319740     2
1125867     2
1484220     2
1081327     2
848657      2
858300      2
1048209     2
1117596     2
973383      2
1237971     2
1226307     2
967395      2
1237159     2
1383309     2
1285397     2
1296263     2
1071261     2
1340542     2
1188151     2
1062526     2
1210484     2
1097571     2
1266960     2
1100188     2
1082828     2
927723      2
1065561     2
981015      2
1245032     2
888592      2
1179351     2
1081092     2
1291426     2
1203648     2
1176971     2
1108465     2
951404      2
1321149     2
937115      2
1194019     2
1283327     2
1362580     2
945651      2
1124527     2
1328892     2
1478386     2
988240      2
1068303     2
1328054     2
949896      2
1196057     2
1232257     2
1243128     2
1190440     2
1218098     2
1530432     2
1252314     2
1269633     2
1199670     2
941622      2
1366127     2
1556766     2
1204730     2
915736      2
1439526     2
947911      2
1347166     2
1339638     2
1295758     2
1320326     2
1098210     2
1209113     2
1296418     2
1356449     2
1316775     2
1260638     2
1348255     2
1313123     2
1270106     2
873690      2
951048      2
922002      2
930343      2
895204      2
844623      2
990985      2
894501      2
935830      2
983930      2
921660      2
908660      2
976033      2
980201      2
895944      2
917978      2
854803      2
931191      2
957718      2
937356      2
939382      2
962011      2
961021      2
937036      2
860772      2
872593      2
971189      2
973039      2
902404      2
974840      2
1000705     2
902486      2
932020      2
930163      2
998038      2
1007659     2
931581      2
1016391     2
958752      2
945870      2
971342      2
1005663     2
959349      2
948929      2
855262      2
944842      2
853499      2
978293      2
907304      2
863494      2
928215      2
897072      2
895843      2
899865      2
881680      2
908325      2
919244      2
905504      2
897693      2
905678      2
892262      2
898496      2
900138      2
891189      2
851333      2
857629      2
885214      2
884524      2
900056      2
925589      2
906702      2
873534      2
916852      2
932312      2
951717      2
906387      2
866723      2
920964      2
912910      2
896668      2
946223      2
904031      2
940085      2
888641      2
860064      2
918060      2
900018      2
901101      2
895953      2
887069      2
849133      2
934690      2
893381      2
1233375     2
1107607     2
1046836     2
1238073     2
1250294     2
932878      2
1001658     2
1128624     2
1187254     2
1065182     2
1235248     2
1008206     2
1241123     2
1221770     2
941514      2
1191834     2
1196755     2
983281      2
960052      2
1215590     2
1105163     2
1095085     2
1280131     2
1014179     2
1180884     2
1312209     2
1018442     2
958521      2
1009165     2
1167937     2
1151183     2
1086454     2
961026      2
1200903     2
1088446     2
1124805     2
1240867     2
855671      2
951436      2
901552      2
1103102     2
1299379     2
1190494     2
981818      2
1129552     2
993741      2
985687      2
913235      2
1046011     2
1057489     2
1000088     2
967412      2
949066      2
896473      2
932292      2
1045474     2
957558      2
952909      2
1029856     2
1039265     2
960017      2
1032657     2
1035729     2
1020469     2
923401      2
1036173     2
939145      2
943324      2
997940      2
1227013     2
1022258     2
890754      2
1203559     2
1169540     2
924774      2
1134037     2
881070      2
1073067     2
1067087     2
1059084     2
1069423     2
1117631     2
995221      2
939804      2
982599      2
1066762     2
1043734     2
891111      2
1059014     2
995512      2
976341      2
Name: count, dtype: int64

In [ ]:
duplicate_rows[duplicate_rows['user_id'] == 889732]

      id              reason          created_at  block_user_id  user_id
198  281     너무 많은 양의 질문을 보냄 2023-05-06 14:52:06         876207   889732
199  282     너무 많은 양의 질문을 보냄 2023-05-06 14:53:09         876207   889732
200  283  나랑 관련 없는 질문을 자꾸 보냄 2023-05-06 14:53:18         876207   889732
201  284             모르는 사람임 2023-05-06 14:53:33         876207   889732
203  286     너무 많은 양의 질문을 보냄 2023-05-06 14:54:09         876207   889732
204  287  나랑 관련 없는 질문을 자꾸 보냄 2023-05-06 14:54:17         876207   889732
205  288     너무 많은 양의 질문을 보냄 2023-05-06 14:54:53         876207   889732
206  290     너무 많은 양의 질문을 보냄 2023-05-06 14:56:13         876207   889732
207  291     너무 많은 양의 질문을 보냄 2023-05-06 14:57:09         876207   889732
209  293     너무 많은 양의 질문을 보냄 2023-05-06 14:58:34         876207   889732
212  296  나랑 관련 없는 질문을 자꾸 보냄 2023-05-06 14:59:05         876207   889732
213  297     너무 많은 양의 질문을 보냄 2023-05-06 14:59:49         876207   889732
214  298     너무 많은 양의 질문을 보냄 2023-05-06 14:59:54         876207   889732
215  299     너무 많은 양의 질문을 보냄 2023-05-06 15:00:33         876207   889732
216  300     너무 많은 양의 질문을 보냄 2023-05-06 15:00:53         876207   889732
217  301     너무 많은 양의 질문을 보냄 2023-05-06 15:01:03         876207   889732
219  303     너무 많은 양의 질문을 보냄 2023-05-06 15:02:19         876207   889732
220  305     너무 많은 양의 질문을 보냄 2023-05-06 15:03:27         876207   889732
221  307     너무 많은 양의 질문을 보냄 2023-05-06 15:04:59         876207   889732
233  325     너무 많은 양의 질문을 보냄 2023-05-06 15:22:22         876207   889732

- 중복을 제거하고 계산하기를 염두에 두고 진행

In [ ]:
%xdel accounts_blockrecord_df
%xdel duplicate_rows

NameError: name 'accounts_blockrecord_df' is not defined

---
---
## 2.3 accounts_failpaymenthistory

In [ ]:
accounts_failpaymenthistory_df = pd.read_parquet('./data/votes/accounts_failpaymenthistory.parquet')

In [ ]:
accounts_failpaymenthistory_df.head() # 163 행, 5 열

   id   productId phone_type          created_at  user_id
0   6   heart.200          A 2023-05-14 05:49:22  1055891
1   7   heart.777          A 2023-05-14 08:17:21  1152151
2   8   heart.777          A 2023-05-14 10:11:46   986200
3   9  heart.1000          A 2023-05-14 11:53:09  1028261
4  10   heart.777          A 2023-05-14 12:30:47  1235730

In [ ]:
accounts_failpaymenthistory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          163 non-null    int64
 1   productId   56 non-null     object
 2   phone_type  163 non-null    object
 3   created_at  163 non-null    datetime64[ns]
 4   user_id     163 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 6.5+ KB

In [ ]:
accounts_failpaymenthistory_df['user_id'].isna().sum()

0

In [ ]:
acc = accounts_failpaymenthistory_df[accounts_failpaymenthistory_df['productId'].isna()]
print("핸드폰 타입 수 :", accounts_failpaymenthistory_df['phone_type'].value_counts())
print("productId가 null값인 핸드폰 타입 :", acc['phone_type'].value_counts())

# 모든 아이폰의 productId가 null값이다.

핸드폰 타입 수 : phone_type
I    107
A     56
Name: count, dtype: int64
productId가 null값인 핸드폰 타입 : phone_type
I    107
Name: count, dtype: int64

In [ ]:
%xdel accounts_failpaymenthistory_df
%xdel acc

---
---
## 2.4 accounts_friendrequest

In [ ]:
accounts_friendrequest_df = pd.read_parquet('./data/votes/accounts_friendrequest.parquet')

In [ ]:
accounts_friendrequest_df.head() # 17,147,175 행, 6 열
# status = P:대기, A:수락, R:거절

,id,status,created_at,updated_at,receive_user_id,send_user_id
0,7,P,2023-04-17 18:29:11,2023-04-17 18:29:11,831962,837521
1,10,A,2023-04-17 18:29:11,2023-04-22 06:02:53,832151,837521
2,11,A,2023-04-17 18:29:11,2023-04-18 19:28:41,832340,837521
3,13,A,2023-04-17 18:29:11,2023-04-19 11:05:04,833041,837521
4,20,P,2023-04-17 18:29:11,2023-04-17 18:29:11,834415,837521

In [ ]:
accounts_friendrequest_df.isna().sum()

id                 0
status             0
created_at         0
updated_at         0
receive_user_id    0
send_user_id       0
dtype: int64

In [ ]:
accounts_friendrequest_df['receive_user_id'].

In [ ]:
accounts_friendrequest_df['send_user_id'].value_counts()