In [1]:
import pandas as pd
import os
from glob import glob
import platform
import matplotlib.pyplot as plt
import koreanize_matplotlib
import matplotlib.font_manager as fm
import seaborn as sns
import ast

# ë§ˆì´ë„ˆìŠ¤ ê¸°í˜¸ ê¹¨ì§ ë°©ì§€
plt.rcParams['axes.unicode_minus'] = False

# pandas ì „ì²´ ì¶œë ¥ í˜•ì‹ ì„¤ì •(ì§€ìˆ˜ í‘œê¸° -> ìì—°ìˆ˜ í‘œê¸°)
pd.set_option('display.float_format', '{:,.0f}'.format)

pd.set_option('display.max_columns',100) # pandas ë‚´ ëª¨ë“  ì¹¼ëŸ¼ í‘œì‹œ
pd.set_option('display.max_rows', None) # pandas ë‚´ ëª¨ë“  í–‰ í‘œì‹œ
pd.set_option('display.max_seq_items', None) # ì¶œë ¥ ì˜µì…˜ ì„¤ì •
pd.set_option('display.max_colwidth', None) # pandas ìµœëŒ€ ì—´ ë„ˆë¹„ ëŠ˜ë¦¬ê¸°ê¸°

In [2]:
polls_questionreport_df = pd.read_parquet("./data/votes/polls_questionreport.parquet")
polls_questionreport_df.describe()

          id                     created_at  question_id   user_id
count 51,424                          51424       51,424    51,424
mean  28,027  2023-05-21 22:12:41.641120768          733 1,168,247
min        1            2023-04-19 06:20:35           99   832,340
25%   14,021  2023-05-13 01:36:21.249999872          305   978,481
50%   28,048            2023-05-18 14:33:45          494 1,160,251
75%   42,084            2023-05-26 08:45:25        1,021 1,351,295
max   55,767            2024-05-05 14:56:25        5,110 1,583,634
std   16,163                            NaN          666   208,247

---
---
# 1. polls ë°ì´í„° ëª¨ì•„ë³´ê¸°

---
---
## 1.1 polls ê¸°ë³¸ì •ë³´

In [2]:
# í´ë” ê²½ë¡œ
folder_path = './data/votes/'

# polls_ë¡œ ì‹œì‘í•˜ê³  parquet í™•ì¥ìì¸ íŒŒì¼ ëª©ë¡ ë¶ˆëŸ¬ì˜¤ê¸°
parquet_files = glob(os.path.join(folder_path, 'polls_*.parquet'))

# ìš”ì•½ ì¶œë ¥ í•¨ìˆ˜
def show_df_summary(df, name):
    print(f"\n===== {name}.info() =====")
    df.info()
    print(f"\n===== {name}.head(2) =====")
    display(df.head(2))
    
    # âœ… created_at ë²”ìœ„ í™•ì¸
    if 'created_at' in df.columns:
        min_date = df['created_at'].min()
        max_date = df['created_at'].max()
        print(f"\nğŸ•’ {name} - created_at range: {min_date} â†’ {max_date}")

# ëª¨ë“  parquet íŒŒì¼ ìˆœíšŒ
for file_path in parquet_files:
    file_name = os.path.basename(file_path)
    try:
        df = pd.read_parquet(file_path)
        show_df_summary(df, file_name)
    except Exception as e:
        print(f"âŒ Failed to read {file_name}: {e}")

===== polls_questionpiece.parquet.info() =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1265476 entries, 0 to 1265475
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1265476 non-null  int64
 1   is_voted     1265476 non-null  int64
 2   created_at   1265476 non-null  datetime64[ns]
 3   question_id  1265476 non-null  int64
 4   is_skipped   1265476 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 48.3 MB

===== polls_questionpiece.parquet.head(2) =====

       id  is_voted          created_at  question_id  is_skipped
0  998458         1 2023-04-28 12:27:22          252           0
1  998459         1 2023-04-28 12:27:22          244           0

ğŸ•’ polls_questionpiece.parquet - created_at range: 2023-04-28 12:27:22 â†’ 2024-05-07 11:32:30

===== polls_usercandidate.parquet.info() =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4769609 entries, 0 to 4769608
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 int64
 1   created_at         datetime64[ns]
 2   question_piece_id  int64
 3   user_id            int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 145.6 MB

===== polls_usercandidate.parquet.head(2) =====

        id          created_at  question_piece_id  user_id
0  3088872 2023-04-28 12:27:49             998458   849444
1  3088873 2023-04-28 12:27:49             998458   849454

ğŸ•’ polls_usercandidate.parquet - created_at range: 2023-04-28 12:27:49 â†’ 2024-05-08 01:36:18

===== polls_question.parquet.info() =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5025 entries, 0 to 5024
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5025 non-null   int64
 1   question_text  5025 non-null   object
 2   created_at     5025 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 117.9+ KB

===== polls_question.parquet.head(2) =====

    id                 question_text          created_at
0   99            ê°€ì¥ ì‹ ë¹„í•œ ë§¤ë ¥ì´ ìˆëŠ” ì‚¬ëŒì€? 2023-03-31 15:22:53
1  100  "ì´ ì‚¬ëŒìœ¼ë¡œ í•œ ë²ˆ ì‚´ì•„ë³´ê³  ì‹¶ë‹¤" í•˜ëŠ” ì‚¬ëŒì€? 2023-03-31 15:22:53

ğŸ•’ polls_question.parquet - created_at range: 2023-03-31 15:22:53 â†’ 2023-06-06 06:15:52

===== polls_questionset.parquet.info() =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158384 entries, 0 to 158383
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      158384 non-null  int64
 1   question_piece_id_list  158384 non-null  object
 2   opening_time            158384 non-null  datetime64[ns]
 3   status                  158384 non-null  object
 4   created_at              158384 non-null  datetime64[ns]
 5   user_id                 158384 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 7.3+ MB

===== polls_questionset.parquet.head(2) =====

,id,question_piece_id_list,opening_time,status,created_at,user_id
0,99817,"[998458, 998459, 998460, 998461, 998462, 998463, 998464, 998465, 998466, 998467]",2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436
1,99830,"[998588, 998589, 998590, 998591, 998592, 998593, 998594, 998595, 998596, 998597]",2023-04-28 12:28:07,F,2023-04-28 12:28:07,849438

ğŸ•’ polls_questionset.parquet - created_at range: 2023-04-28 12:27:23 â†’ 2024-05-07 11:32:30

===== polls_questionreport.parquet.info() =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51424 entries, 0 to 51423
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           51424 non-null  int64
 1   reason       51424 non-null  object
 2   created_at   51424 non-null  datetime64[ns]
 3   question_id  51424 non-null  int64
 4   user_id      51424 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 2.0+ MB

===== polls_questionreport.parquet.head(2) =====

   id       reason          created_at  question_id  user_id
0   1  ì´ ì§ˆë¬¸ì€ ì¬ë¯¸ì—†ì–´ìš” 2023-04-19 06:20:35          250   837556
1   2  ì´ ì§ˆë¬¸ì€ ì¬ë¯¸ì—†ì–´ìš” 2023-04-19 06:58:09          113   837672

ğŸ•’ polls_questionreport.parquet - created_at range: 2023-04-19 06:20:35 â†’ 2024-05-05 14:56:25

In [ ]:
polls_questionset_df = pd.read_parquet("./data/votes/polls_questionset.parquet")
polls_questionpiece_df = pd.read_parquet("./data/votes/polls_questionpiece.parquet")
polls_question_df = pd.read_parquet("./data/votes/polls_question.parquet")
polls_usercandidate_df = pd.read_parquet("./data/votes/polls_usercandidate.parquet")
polls_questionreport_df = pd.read_parquet("./data/votes/polls_questionreport.parquet")

# Step 1: ë¦¬ìŠ¤íŠ¸ ë¬¸ìì—´ì„ ì‹¤ì œ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
polls_questionset_df["question_piece_id_list"] = polls_questionset_df["question_piece_id_list"].apply(ast.literal_eval)

# Step 2: explodeë¡œ í¼ì¹˜ê¸°
polls_questionset_df = polls_questionset_df.explode("question_piece_id_list")

# Step 3: intë¡œ ë³€í™˜
polls_questionset_df["question_piece_id_list"] = polls_questionset_df["question_piece_id_list"].astype(int)

# Step 4: questionset + questionpiece
polls_questionset_questionpiece_df = polls_questionset_df.merge(polls_questionpiece_df, left_on="question_piece_id_list", right_on="id", suffixes=("_qs", "_qp"))

# Step 5: merge question
polls_questionset_questionpiece_df_q = polls_questionset_questionpiece_df.merge(polls_question_df, left_on="question_id", right_on="id", suffixes=("", "_q"))

# Step 6: merge usercandidate
polls_questionset_questionpiece_df_q_uc = polls_questionset_questionpiece_df_q.merge(polls_usercandidate_df, left_on="id_qp", right_on="question_piece_id", suffixes=("", "_uc"))

# Step 7: merge questionreport
final = polls_questionset_questionpiece_df_q_uc.merge(polls_questionreport_df, on=["question_id", "user_id"], how="left")

In [4]:
%xdel polls_questionset_df
%xdel polls_questionpiece_df
%xdel polls_question_df
%xdel polls_usercandidate_df
%xdel polls_questionreport_df

NameError: name 'polls_usercandidate_df' is not defined
NameError: name 'polls_questionreport_df' is not defined

In [5]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4769680 entries, 0 to 4769679
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_qs                   int64
 1   question_piece_id_list  int64
 2   opening_time            datetime64[ns]
 3   status                  object
 4   created_at_qs           datetime64[ns]
 5   user_id                 int64
 6   id_qp                   int64
 7   is_voted                int64
 8   created_at_qp           datetime64[ns]
 9   question_id             int64
 10  is_skipped              int64
 11  id_x                    int64
 12  question_text           object
 13  created_at_x            datetime64[ns]
 14  id_uc                   int64
 15  created_at_uc           datetime64[ns]
 16  question_piece_id       int64
 17  user_id_uc              int64
 18  id_y                    float64
 19  reason                  object
 20  created_at_y            datetime64[ns]
dtypes: datetime64[ns](6), float64(1), int64(11), object(3)
memory usage: 764.2+ MB

In [6]:
final.head()

,id_qs,question_piece_id_list,opening_time,status,created_at_qs,user_id,id_qp,is_voted,created_at_qp,question_id,is_skipped,id_x,question_text,created_at_x,id_uc,created_at_uc,question_piece_id,user_id_uc,id_y,reason,created_at_y
0,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,998458,1,2023-04-28 12:27:22,252,0,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088872,2023-04-28 12:27:49,998458,849444,NaN,NaN,NaT
1,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,998458,1,2023-04-28 12:27:22,252,0,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088873,2023-04-28 12:27:49,998458,849454,NaN,NaN,NaT
2,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,998458,1,2023-04-28 12:27:22,252,0,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088874,2023-04-28 12:27:49,998458,849460,NaN,NaN,NaT
3,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,998458,1,2023-04-28 12:27:22,252,0,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088875,2023-04-28 12:27:49,998458,849469,NaN,NaN,NaT
4,100132,1001617,2023-04-28 13:26:53,F,2023-04-28 12:36:53,849762,1001617,1,2023-04-28 12:36:53,252,0,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3131196,2023-04-28 13:41:41,1001617,849438,NaN,NaN,NaT

In [7]:
final.isna().sum()

id_qs                           0
question_piece_id_list          0
opening_time                    0
status                          0
created_at_qs                   0
user_id                         0
id_qp                           0
is_voted                        0
created_at_qp                   0
question_id                     0
is_skipped                      0
id_x                            0
question_text                   0
created_at_x                    0
id_uc                           0
created_at_uc                   0
question_piece_id               0
user_id_uc                      0
id_y                      4768957
reason                    4768957
created_at_y              4768957
dtype: int64

In [8]:
# dropí•  ì¤‘ë³µ ì»¬ëŸ¼ ëª©ë¡
columns_to_drop = ["id_qp", "question_piece_id", "id_x"]

# ì •ë¦¬
final = final.drop(columns=columns_to_drop)

In [9]:
final.head()

,id_qs,question_piece_id_list,opening_time,status,created_at_qs,user_id,is_voted,created_at_qp,question_id,is_skipped,question_text,created_at_x,id_uc,created_at_uc,user_id_uc,id_y,reason,created_at_y
0,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088872,2023-04-28 12:27:49,849444,NaN,NaN,NaT
1,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088873,2023-04-28 12:27:49,849454,NaN,NaN,NaT
2,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088874,2023-04-28 12:27:49,849460,NaN,NaN,NaT
3,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088875,2023-04-28 12:27:49,849469,NaN,NaN,NaT
4,100132,1001617,2023-04-28 13:26:53,F,2023-04-28 12:36:53,849762,1,2023-04-28 12:36:53,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3131196,2023-04-28 13:41:41,849438,NaN,NaN,NaT

In [ ]:
# ì»¬ëŸ¼ëª… ê°€ë…ì„± ìˆê²Œ ë°”ê¾¸ê¸°
final = final.rename(columns={
    "id_qs": "question_set_id",
    "created_at_qs":"question_set_created_at",
    "created_at_qp":"question_piece_created_at",
    "status":"question_set_status",
    "opening_time":"question_set_opening_time",
    'created_at_x':'question_created_at',
    'is_voted':'question_piece_is_voted',
    'is_skipped':'question_piece_is_skipped',
    'id_uc':"user_candidate_id",
    "created_at_uc":"user_candidate_created_at",
    'user_id_uc':'user_candidate_user_id',
    'id_y' : 'question_report_id',
    "reason":"question_report_reason",
    "created_at_y":"question_report_created_at"
})
final.head()

,question_set_id,question_piece_id_list,question_set_opening_time,question_set_status,question_set_created_at,user_id,question_piece_is_voted,question_piece_created_at,question_id,question_piece_is_skipped,question_text,question_created_at,user_candidate_id,user_candidate_created_at,user_candidate_user_id,question_report_id,question_report_reason,question_report_created_at
0,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088872,2023-04-28 12:27:49,849444,NaN,NaN,NaT
1,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088873,2023-04-28 12:27:49,849454,NaN,NaN,NaT
2,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088874,2023-04-28 12:27:49,849460,NaN,NaN,NaT
3,99817,998458,2023-04-28 12:27:22,F,2023-04-28 12:27:23,849436,1,2023-04-28 12:27:22,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3088875,2023-04-28 12:27:49,849469,NaN,NaN,NaT
4,100132,1001617,2023-04-28 13:26:53,F,2023-04-28 12:36:53,849762,1,2023-04-28 12:36:53,252,0,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,2023-04-01 11:09:27,3131196,2023-04-28 13:41:41,849438,NaN,NaN,NaT

|ì»¬ëŸ¼ëª…|ì„¤ëª…|
|-----|---|
|user_id|ìœ ì € id|
|qusetion_id|ì§ˆë¬¸ id|
|question_text|ì§ˆë¬¸ ë‚´ìš©|
|question_set_id|ì§ˆë¬¸ ì„¸íŠ¸ ê³ ìœ  id|
|question_set_status|ì§ˆë¬¸ ì„¸íŠ¸ ìƒíƒœ(C:ë‹«í˜,O:ì—´ë¦¼,F:ì¢…ë£Œ)|
|question_set_created_at|ì§ˆë¬¸ ì„¸íŠ¸ ë§Œë“  ì‹œê°„|
|question_set_opening_time|ì§ˆë¬¸ ì„¸íŠ¸ ì˜¤í”ˆ ì‹œê°„|
|question_piece_id_list|ì§ˆë¬¸ ì„¸íŠ¸ì— ì†í•œ ì§ˆë¬¸ id ë¦¬ìŠ¤íŠ¸|
|question_piece_created_at|ì§ˆë¬¸ ì¡°ê° ë§Œë“  ì‹œê°„|
|question_piece_is_voted|ì§ˆë¬¸ ì¡°ê° íˆ¬í‘œ ì—¬ë¶€(1 or 0)|
|question_piece_is_skipped|ì§ˆë¬¸ ì¡°ê° ìŠ¤í‚µ ì—¬ë¶€(1 or 0)|
|question_created_at|ì§ˆë¬¸ ë§Œë“  ì‹œê°„|
|user_candidate_id|ì§ˆë¬¸ ì¡°ê° í…Œì´ë¸” ê³ ìœ  id|
|user_candidate_created_at|ì§ˆë¬¸ ì¡°ê° ë³´ê¸°ì— ë“±ì¥í•œ ìœ ì € í…Œì´ë¸” ë§Œë“  ì‹œê°„|
|user_candidate_user_id|ì§ˆë¬¸ ì¡°ê° ë³´ê¸°ì— ë“±ì¥í•œ ìœ ì € id|
|question_report_id|ì§ˆë¬¸ ì‹ ê³  id|
|question_report_reason|ì§ˆë¬¸ ì‹ ê³  ì´ìœ |
|question_report_created_at|ì§ˆë¬¸ ì‹ ê³  ë§Œë“  ì‹œê°„|

In [ ]:
column_order = [
    "user_id",  
    "question_id",  
    "question_text",  
    "question_set_id",  
    "question_set_status",  
    "question_set_created_at",  
    "question_set_opening_time",  
    "question_piece_id_list",  
    "question_piece_created_at",  
    "question_piece_is_voted",  
    "question_piece_is_skipped",  
    "question_created_at",  
    "user_candidate_id",  
    "user_candidate_created_at",  
    "user_candidate_user_id",  
    "question_report_id",  
    "question_report_reason",  
    "question_report_created_at"
]

# ìˆœì„œ ì¬ë°°ì—´
final = final[column_order]

In [12]:
final.head()

,user_id,question_id,question_text,question_set_id,question_set_status,question_set_created_at,question_set_opening_time,question_piece_id_list,question_piece_created_at,question_piece_is_voted,question_piece_is_skipped,question_created_at,user_candidate_id,user_candidate_created_at,user_candidate_user_id,question_report_id,question_report_reason,question_report_created_at
0,849436,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,99817,F,2023-04-28 12:27:23,2023-04-28 12:27:22,998458,2023-04-28 12:27:22,1,0,2023-04-01 11:09:27,3088872,2023-04-28 12:27:49,849444,NaN,NaN,NaT
1,849436,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,99817,F,2023-04-28 12:27:23,2023-04-28 12:27:22,998458,2023-04-28 12:27:22,1,0,2023-04-01 11:09:27,3088873,2023-04-28 12:27:49,849454,NaN,NaN,NaT
2,849436,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,99817,F,2023-04-28 12:27:23,2023-04-28 12:27:22,998458,2023-04-28 12:27:22,1,0,2023-04-01 11:09:27,3088874,2023-04-28 12:27:49,849460,NaN,NaN,NaT
3,849436,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,99817,F,2023-04-28 12:27:23,2023-04-28 12:27:22,998458,2023-04-28 12:27:22,1,0,2023-04-01 11:09:27,3088875,2023-04-28 12:27:49,849469,NaN,NaN,NaT
4,849762,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100132,F,2023-04-28 12:36:53,2023-04-28 13:26:53,1001617,2023-04-28 12:36:53,1,0,2023-04-01 11:09:27,3131196,2023-04-28 13:41:41,849438,NaN,NaN,NaT

In [13]:
# ì„œë¡œ ë‹¤ë¥¸ ê°’ì´ ìˆëŠ” í–‰ í•„í„°ë§
diff_rows = final[final["question_set_opening_time"] != final["question_piece_created_at"]]

# ê°œìˆ˜ í™•ì¸
print(f"ì„œë¡œ ë‹¤ë¥¸ í–‰ ê°œìˆ˜: {len(diff_rows)}")

diff_rows.head()

ì„œë¡œ ë‹¤ë¥¸ í–‰ ê°œìˆ˜: 4645676

,user_id,question_id,question_text,question_set_id,question_set_status,question_set_created_at,question_set_opening_time,question_piece_id_list,question_piece_created_at,question_piece_is_voted,question_piece_is_skipped,question_created_at,user_candidate_id,user_candidate_created_at,user_candidate_user_id,question_report_id,question_report_reason,question_report_created_at
4,849762,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100132,F,2023-04-28 12:36:53,2023-04-28 13:26:53,1001617,2023-04-28 12:36:53,1,0,2023-04-01 11:09:27,3131196,2023-04-28 13:41:41,849438,NaN,NaN,NaT
5,849762,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100132,F,2023-04-28 12:36:53,2023-04-28 13:26:53,1001617,2023-04-28 12:36:53,1,0,2023-04-01 11:09:27,3131197,2023-04-28 13:41:41,849446,NaN,NaN,NaT
6,849762,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100132,F,2023-04-28 12:36:53,2023-04-28 13:26:53,1001617,2023-04-28 12:36:53,1,0,2023-04-01 11:09:27,3131198,2023-04-28 13:41:41,849453,NaN,NaN,NaT
7,849762,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100132,F,2023-04-28 12:36:53,2023-04-28 13:26:53,1001617,2023-04-28 12:36:53,1,0,2023-04-01 11:09:27,3131199,2023-04-28 13:41:41,849543,NaN,NaN,NaT
12,850007,252,ì†ì´ ê°€ì¥ ì´ì˜ê²Œ ìƒê²¼ì„ê±° ê°™ì€ ì‚¬ëŒì€?,100898,F,2023-04-28 13:11:50,2023-04-28 13:32:07,1009274,2023-04-28 13:11:50,1,0,2023-04-01 11:09:27,3125612,2023-04-28 13:33:24,847375,NaN,NaN,NaT

In [14]:
%xdel diff_rows

In [15]:
# user_question_reportê°€ NaNì´ ì•„ë‹Œ ë°ì´í„°
final_reason_notna = final[final['question_report_reason'].notna()]
final_reason_notna.shape

(723, 18)

In [16]:
# user_question_reportê°€ NaNì´ ì•„ë‹Œ ë°ì´í„°
final_reason_notna.head()

,user_id,question_id,question_text,question_set_id,question_set_status,question_set_created_at,question_set_opening_time,question_piece_id_list,question_piece_created_at,question_piece_is_voted,question_piece_is_skipped,question_created_at,user_candidate_id,user_candidate_created_at,user_candidate_user_id,question_report_id,question_report_reason,question_report_created_at
63642,880437,201,í™”ì¥ì„ ì œì¼ ì˜í•˜ëŠ” ì‚¬ëŒ?,542164,F,2023-05-06 06:50:14,2023-05-06 07:40:14,5421936,2023-05-06 06:50:14,1,0,2023-04-01 11:09:18,19840162,2023-05-06 16:00:34,887645,"3,441",ìê¾¸ ê°™ì€ ë‚´ìš©ì˜ ì§ˆë¬¸ ë°˜ë³µ,2023-05-06 05:17:14
63643,880437,201,í™”ì¥ì„ ì œì¼ ì˜í•˜ëŠ” ì‚¬ëŒ?,542164,F,2023-05-06 06:50:14,2023-05-06 07:40:14,5421936,2023-05-06 06:50:14,1,0,2023-04-01 11:09:18,19840163,2023-05-06 16:00:34,888965,"3,441",ìê¾¸ ê°™ì€ ë‚´ìš©ì˜ ì§ˆë¬¸ ë°˜ë³µ,2023-05-06 05:17:14
63644,880437,201,í™”ì¥ì„ ì œì¼ ì˜í•˜ëŠ” ì‚¬ëŒ?,542164,F,2023-05-06 06:50:14,2023-05-06 07:40:14,5421936,2023-05-06 06:50:14,1,0,2023-04-01 11:09:18,19840164,2023-05-06 16:00:34,904721,"3,441",ìê¾¸ ê°™ì€ ë‚´ìš©ì˜ ì§ˆë¬¸ ë°˜ë³µ,2023-05-06 05:17:14
63645,880437,201,í™”ì¥ì„ ì œì¼ ì˜í•˜ëŠ” ì‚¬ëŒ?,542164,F,2023-05-06 06:50:14,2023-05-06 07:40:14,5421936,2023-05-06 06:50:14,1,0,2023-04-01 11:09:18,19840165,2023-05-06 16:00:34,911793,"3,441",ìê¾¸ ê°™ì€ ë‚´ìš©ì˜ ì§ˆë¬¸ ë°˜ë³µ,2023-05-06 05:17:14
107237,849692,257,ê°€ì¥ ì¹œí•´ì§€ê³ ì‹¶ì—ˆë˜ ì‚¬ëŒì€?,144405,F,2023-04-30 03:53:28,2023-04-30 04:43:28,1444343,2023-04-30 03:53:28,1,0,2023-04-01 11:09:28,4619071,2023-04-30 07:00:13,849620,"1,074",ê¸°íƒ€,2023-04-29 13:25:27

In [18]:
final.describe().T

,count,mean,min,25%,50%,75%,max,std
user_id,"4,769,680","1,105,848","838,023","884,633","1,117,319","1,259,413","1,583,358","206,291"
question_id,"4,769,680",686,99,275,470,944,"5,133",627
question_set_id,"4,769,680","7,430,172","99,817","1,891,645","6,639,625","11,788,730","20,835,070","5,761,948"
question_set_created_at,4769680,2023-05-16 18:38:30.859005440,2023-04-28 12:27:23,2023-05-09 13:52:16,2023-05-15 11:04:10,2023-05-21 17:09:03,2024-03-19 12:53:58,NaN
question_set_opening_time,4769680,2023-05-16 19:20:58.912039168,2023-04-28 12:27:22,2023-05-09 14:35:57,2023-05-15 11:43:15,2023-05-21 17:49:02,2024-03-19 12:53:58,NaN
question_piece_id_list,"4,769,680","74,302,067","998,458","18,916,763","66,396,532","117,887,588","208,351,468","57,619,578"
question_piece_created_at,4769680,2023-05-16 18:38:30.800603136,2023-04-28 12:27:22,2023-05-09 13:52:16,2023-05-15 11:04:10,2023-05-21 17:09:02,2024-03-19 12:53:58,NaN
question_piece_is_voted,"4,769,680",1,1,1,1,1,1,0
question_piece_is_skipped,"4,769,680",0,0,0,0,0,1,0
question_created_at,4769680,2023-04-28 00:36:33.187461120,2023-03-31 15:22:53,2023-04-01 11:09:33,2023-05-02 05:33:07,2023-05-15 14:00:12,2023-06-06 06:15:52,NaN
user_candidate_id,"4,769,680","238,867,062","3,088,872","62,702,794","212,668,086","380,021,001","646,672,584","184,489,238"
user_candidate_created_at,4769680,2023-05-17 13:57:43.642667264,2023-04-28 12:27:49,2023-05-10 02:49:14,2023-05-15 16:15:03.500000,2023-05-22 11:33:32,2024-05-08 01:36:18,NaN
user_candidate_user_id,"4,769,680","1,090,239","833,112","883,590","1,087,460","1,233,969","1,580,629","201,819"
question_report_id,723,"9,805",835,"1,233","3,143","13,452","45,714","12,001"
question_report_created_at,723,2023-05-07 17:24:39.366528,2023-04-28 04:28:21,2023-04-30 02:52:15,2023-05-05 12:09:39,2023-05-12 15:09:46,2023-05-28 12:54:32,NaN

1. ì§ˆë¬¸ ì„¸íŠ¸ê°€ ë§Œë“¤ì–´ì§„ ì‹œì  2023.4.28 ~ 2024.3.19
2. ì§ˆë¬¸ ì„¸íŠ¸ê°€ ì—´ë¦° ì‹œì  2023.4.28 ~ 2024.3.19
3. ì§ˆë¬¸ ì¡°ê°ì´ ë§Œë“¤ì–´ì§„ ì‹œì  2023.4.28 ~ 2024.3.19
4. ì§ˆë¬¸ì´ ë§Œë“¤ì–´ì§„ ì‹œì  2023.3.31 ~ 2023.6.6 -> ì‹œì  ë¶„ë¦¬ ì• ë§¤
5. ì§ˆë¬¸ ì¡°ê°ì— ë“±ì¥í•˜ëŠ” ìœ ì € í…Œì´ë¸”ì´ ë§Œë“¤ì–´ì§„ ì‹œì  2023.4.28 ~ 2024.5.8
6. ì§ˆë¬¸ ì‹ ê³ ê°€ ë§Œë“¤ì–´ì§„ ì‹œì  2023.4.28 ~ 2023.5.28 -> ì‹œì  ë¶„ë¦¬ ì• ë§¤