In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
import os

# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_nearbyschool.parquet'

# 데이터 불러오기
nearbyschool_df = pd.read_parquet(gcs_path, engine='pyarrow')
nearbyschool_df

           id  distance  nearby_school_id  school_id
0      119021  0.004564                 6          7
1      119022  0.010787                13          7
2      119023  0.012928                20          7
3      119024  0.013590                 4          7
4      119025  0.014122                24          7
...       ...       ...               ...        ...
59495  178516  0.018277              1498       5961
59496  178517  0.018652              1474       5961
59497  178518  0.021143              1466       5961
59498  178519  0.024572              1467       5961
59499  178520  0.000000              5961       5961

[59500 rows x 4 columns]