In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_school.parquet'

# 데이터 불러오기
school_df = pd.read_parquet(gcs_path, engine='pyarrow')
school_df

        id   address  student_count school_type
0        4  충청북도 충주시            239           H
1        5  충청북도 충주시            160           M
2        6  충청북도 충주시            200           H
3        7  충청북도 충주시            114           H
4        8  충청북도 충주시            139           M
...    ...       ...            ...         ...
5946  5960  경상남도 양산시            166           H
5947  5961  인천광역시 서구             77           M
5948  5963    경북 김천시             17           H
5949  5964         -              1           H
5950  5965  경기도 동두천시             37           H

[5951 rows x 4 columns]