In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/polls_usercandidate.parquet'

# 데이터 불러오기
usercandidate_df = pd.read_parquet(gcs_path, engine='pyarrow')
usercandidate_df

                id          created_at  question_piece_id  user_id
0          3088872 2023-04-28 12:27:49             998458   849444
1          3088873 2023-04-28 12:27:49             998458   849454
2          3088874 2023-04-28 12:27:49             998458   849460
3          3088875 2023-04-28 12:27:49             998458   849469
4          3088964 2023-04-28 12:28:02             998459   849446
...            ...                 ...                ...      ...
4769604  646672580 2024-05-08 01:36:00          200139933   857296
4769605  646672581 2024-05-08 01:36:18          200139934   850774
4769606  646672582 2024-05-08 01:36:18          200139934   856446
4769607  646672583 2024-05-08 01:36:18          200139934   857101
4769608  646672584 2024-05-08 01:36:18          200139934   874566

[4769609 rows x 4 columns]