In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_paymenthistory.parquet'

# 데이터 불러오기
paymenthistory_df = pd.read_parquet(gcs_path, engine='pyarrow')
paymenthistory_df

          id   productId phone_type          created_at  user_id
0          6   heart.777          A 2023-05-13 21:28:34  1211127
1          7   heart.777          A 2023-05-13 21:29:39  1151343
2          8   heart.777          A 2023-05-13 21:31:33  1002147
3          9   heart.777          A 2023-05-13 21:31:39  1095040
4         11   heart.777          A 2023-05-13 21:34:32  1164081
...      ...         ...        ...                 ...      ...
95135  98074   heart.777          I 2024-05-06 14:51:27  1086654
95136  98075  heart.1000          I 2024-05-06 16:06:30   871740
95137  98076  heart.1000          I 2024-05-08 06:57:23  1166361
95138  98077  heart.1000          I 2024-05-08 14:12:45  1163480
95139  98078  heart.1000          I 2024-05-08 14:12:45  1163480

[95140 rows x 5 columns]