In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_userwithdraw.parquet'

# 데이터 불러오기
userwithdraw_df = pd.read_parquet(gcs_path, engine='pyarrow')
userwithdraw_df

          id        reason          created_at
0         42   재밌는 질문이 없어서 2023-03-29 13:22:12
1         43  함께 할 친구가 없어서 2023-03-29 13:24:59
2         44  함께 할 친구가 없어서 2023-03-29 13:53:32
3         45  함께 할 친구가 없어서 2023-03-29 13:54:03
4         46   재밌는 질문이 없어서 2023-03-30 00:31:19
...      ...           ...                 ...
70759  70889         기타 이유 2024-05-08 14:24:16
70760  70890  함께 할 친구가 없어서 2024-05-08 15:20:06
70761  70891   재밌는 질문이 없어서 2024-05-08 15:46:36
70762  70892         기타 이유 2024-05-09 08:29:09
70763  70893         기타 이유 2024-05-09 08:49:06

[70764 rows x 3 columns]