In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
import os

# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_group.parquet'

# 데이터 불러오기
group_df = pd.read_parquet(gcs_path, engine='pyarrow')
group_df

          id  grade  class_num  school_id
0          1      1          1          1
1          8      3          2          1
2          9      3          3          1
3         10      2          2          1
4         11      2          3          1
...      ...    ...        ...        ...
84510  84542      3          2       5107
84511  84543      2          7       3487
84512  84544      3          1       5043
84513  84545      2          7        416
84514  84546      3         11       2240

[84515 rows x 4 columns]