In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글폰트
import koreanize_matplotlib
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# warnings제거
import warnings

In [2]:
# 서비스 계정 키 경로 설정
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\jey34\OneDrive\바탕 화면\mission18\sprintda05-eunyu-a9946f7dea9c.json"

# GCS의 Parquet 파일 경로
gcs_path = 'gs://final_project_enuyu/data/final_project/votes/accounts_user_contacts.parquet'

# 데이터 불러오기
user_contacts_df = pd.read_parquet(gcs_path, engine='pyarrow')
user_contacts_df

            id  contacts_count invite_user_id_list  user_id
0          259              30                  []  1167696
1         1756              79                  []   863169
2        13742              21            [854615]   857205
3        13754              29                  []   851431
4        13756              28            [849318]   855476
...        ...             ...                 ...      ...
5058  12981327               7                  []  1480714
5059  13391623               1                  []  1506575
5060  14465598               0                  []  1577436
5061  14579987               0                  []  1582145
5062  14608267               0                  []  1583629

[5063 rows x 4 columns]