In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.font_manager as fm
import koreanize_matplotlib

# 폰트 경로 확인 및 설정
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'  # 설치된 폰트 경로
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)

# 한글 깨짐 방지 - 마이너스 기호 처리
plt.rcParams['axes.unicode_minus'] = False

# 상위 하위 25% 지표

In [2]:
merged_master_df = pd.read_csv('/home/eunyu/merged_master_table.csv')
merged_master_df

,user_id,total_votes_v1,unique_days_v1,first_vote_v1,last_vote_v1,active_days_v1,cohort_day_v1,retention_day8_v1,ret_group_v1,ret_group_over_v1,...,opposite_sex_vote_received_ratio,candidate_count,chosen_count,ratio,address,student_count,school_type,firstquestion_id,first_question_text,first_question_category
0,838023,22,5,2023-04-29,2023-05-04,5,2023-04-29,0.515152,50 이상,50 이상,...,0.125954,27.0,10.0,0.370370,충청남도 천안시 서북구,491,H,121,가장 어른스러운 사람은?,['심리' '성격' '인간관계']
1,838466,127,6,2023-05-02,2023-05-07,5,2023-05-02,0.569444,50 이상,50 이상,...,0.134111,82.0,37.0,0.451220,충청남도 아산시,578,H,298,옷이 제일 많을 거 같은 사람은?,['일상' '스타일' '관찰']
2,838642,1,1,2023-04-29,2023-04-29,0,2023-04-29,0.515152,50 이상,50 이상,...,0.100000,44.0,5.0,0.113636,충청남도 천안시 서북구,491,H,161,화목한 가정을 꾸릴거 같은 사람은?,['일상' '라이프스타일' '인간관계']
3,839357,205,8,2023-04-29,2023-05-07,8,2023-04-29,0.515152,50 이상,50 이상,...,0.797688,42.0,10.0,0.238095,충청남도 천안시 서북구,491,H,179,책을 제일 많이 읽은 것 같은 사람은?,['일상' '지식' '관찰']
4,840293,170,7,2023-05-03,2023-05-15,12,2023-05-03,0.422977,50 미만,NaN,...,0.207469,74.0,31.0,0.418919,충청남도 아산시,578,H,464,뭔가 제대로 한 번 보여줄 것 같은 사람은?,['성격' '미래' '관찰']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698,1510561,9,1,2023-05-25,2023-05-25,0,2023-05-25,0.451613,50 미만,NaN,...,0.270270,NaN,NaN,NaN,경상남도 거제시,483,H,504,얘랑 있으면 시간이 너무 빨리가는것 같아,['일상' '감성' '인간관계']
4699,1511957,8,1,2023-05-25,2023-05-25,0,2023-05-25,0.451613,50 미만,NaN,...,0.583893,NaN,NaN,NaN,경기도 광명시,500,M,1576,죽기 전에 마지막으로 대화하고 싶은 사람은?,['미래' '대화' '인간관계']
4700,1512422,22,1,2023-05-25,2023-05-25,0,2023-05-25,0.451613,50 미만,NaN,...,0.196078,NaN,NaN,NaN,경상남도 거제시,483,H,604,부모님한테 가장 잘할 것 같은 친구는?,['심리' '일상' '인간관계']
4701,1512542,7,1,2023-05-25,2023-05-25,0,2023-05-25,0.451613,50 미만,NaN,...,0.333333,NaN,NaN,NaN,경상남도 거제시,483,H,1532,이 사람의 발냄새 만큼은 용서 된다,['일상' '감성' '인간관계']
4702,1513236,7,1,2023-05-25,2023-05-25,0,2023-05-25,0.451613,50 미만,NaN,...,0.523585,NaN,NaN,NaN,경상남도 거제시,483,H,671,핸드폰을 가장 많이 떨어트리는 사람은?,['일상' '미디어' '관찰']

In [3]:
# school_type 값 고유 확인
merged_master_df["school_type"].value_counts(dropna=False)

school_type
H    3802
M     901
Name: count, dtype: int64

- 고등학생: 3802명
- 중학생: 901명